# Problem Set 1

This problem set is based on lectures 1,2 and 3. For a complete list of topics please 
consult page 2 of the course syllabus. Please consult the “Instructions for Problem 
Set Submissions” document under course information before submitting your 
assignment.

# Question 1:
What data type is each of the following (evaluate where necessary)?
5 

5.0

5 > 1

'5'

5 * 2

'5' * 2

'5' + '2'

5 / 2

5 % 2

{5, 2, 1}

5 == 3

Pi (the number)

In [7]:
5.0
type (5.0)

float

In [8]:
5 > 1
type (5 > 1)

bool

In [9]:
'5'
type ('5')

str

In [10]:
5 * 2
type (5 * 2)

int

In [11]:
'5' + '2'
type ('5' + '2')

str

In [12]:
5/2
type (5/2)

float

In [13]:
5%2
type (5%2)

int

In [14]:
{5,2,1}
type ({5,2,1})

set

In [15]:
5 == 3
type (5 == 3)

bool

In [16]:
3.14
type (3.14)

float

# Question 2

Write (and evaluate) python expressions that answer these questions:

a. How many letters are there in 'Supercalifragilisticexpialidocious'?

b. Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?

In [17]:
str1 = 'Supercalifragilisticexpialidocious'
len(str1)

34

In [20]:
str1 = 'Supercalifragilisticexpialidocious'
substring = 'ice'

if substring in str1:
    print("The substring 'ice' is present in the word.")
else:
    print("The substring 'ice' is not present in the word.")

The substring 'ice' is present in the word.

# Question 3

Implement function triangleArea(a,b,c) that takes as input the lengths of the 3
sides of a triangle and returns the area of the triangle. By Heron's formula, the area 
of a triangle with side lengths a, b, and c is
s(s - a)(s -b)(s -c)
, where 
s = (a+b+c)/2. 
>>> triangleArea(2,2,2)
1.7320508075688772

In [3]:
import math
def TriangleArea(a,b,c):
    s = (a + b + c) / 2
    area = math.sqrt (s*(s-a)*(s-b)*(s-c))
    return area

In [4]:
TriangleArea(2,2,2)

1.7320508075688772

# Question 4

Write a program in python to separate odd and even integers in separate arrays. Go 
to the editor

Test Data :

Input the number of elements to be stored in the array :5

Input 5 elements in the array :

element - 0 : 25

element - 1 : 47

element - 2 : 42

element - 3 : 56


element - 4 : 32

Expected Output:

The Even elements are:
42 56 32

The Odd elements are :
25 47

In [9]:
# separate odd Numbers from even Numbers
def separate_odd_even(numbers):
    oddnumbers = []
    evennumbers = []
    for num in numbers:
        if num  %2 == 0:
            evennumbers.append(num)
        else:
            oddnumbers.append(num) 
    return oddnumbers, evennumbers

In [11]:
numbers = [25, 47, 42, 56, 32]
print(separate_odd_even(numbers))

([25, 47], [42, 56, 32])

# Question 5 

a. Write a function inside(x,y,x1,y1,x2,y2) that returns True or False depending on whether the point (x,y) lies in the rectangle with lower left corner (x1,y1) and upper right corner (x2,y2).
>>> inside(1,1,0,0,2,3)
True
>>> inside(-1,-1,0,0,2,3)
False
b. Use function inside() from part a. to write an expression that tests whether 
the point (1,1) lies in both of the following rectangles: one with lower left 
corner (0.3, 0.5) and upper right corner (1.1, 0.7) and the other with lower 
left corner (0.5, 0.2) and upper right corner (1.1, 2).

In [27]:
def  inside(x,y,x1,y1,x2,y2):
    if (x > x1 and x < x2 and y > y1 and y < y2):
        return True
    else:
        return False

In [28]:
if inside(1,1,0.3,0.5,1.1,0.7) and inside(-1,-1,0.5,0.2,1.1,2):
    print ("The point (1,1) lies in both rectangle.")
else:
    print ("The point (1,1) does not lie in both rectangle.")

The point (1,1) does not lie in both rectangle.

# Question 6
16. You can turn a word into pig-Latin using the following two rules (simplified):

• If the word starts with a consonant, move that letter to the end and append 
'ay'. For example, 'happy' becomes 'appyhay' and 'pencil' becomes 'encilpay'.

• If the word starts with a vowel, simply append 'way' to the end of the word. 
For example, 'enter' becomes 'enterway' and 'other' becomes 'otherway' . 

For our purposes, there are 5 vowels: a, e, i, o, u (so we count y as a consonant).
Write a function pig() that takes a word (i.e., a string) as input and returns its pigLatin form. Your function should still work if the input word contains upper case 
characters. Your output should always be lower case however. 
>>> pig('happy')
'appyhay'
>>> pig('Enter')
'enterway'

In [34]:
def pig(word):
    vowels =['a', 'e', 'i', '0', 'u']
    
    if word[0] in vowels:
        return word + 'way'
    else:
        return word [1:] + word [0] + 'ay'
    
print(pig('happy'))
print(pig('pencil'))
print(pig('enter'))
print(pig('other'))

appyhay
encilpay
enterway
theroay

 # Question 7
File bloodtype1.txt records blood-types of patients (A, B, AB, O or OO) at a clinic. 

Write a function bldcount() that reads the file with name name and reports (i.e.,prints) how many patients there are in each bloodtype.
>>> bldcount('bloodtype.txt')
There are 10 patients of blood type A.
There is one patient of blood type B.
There are 10 patients of blood type AB.
There are 12 patients of blood type O.
There are no patients of blood type OO.

In [16]:
with open('BloodGroup.txt', 'r') as f:
    contents = f.read()

In [18]:
def bldcount(name):
    blood_groups = ['A', 'B', 'AB', 'O', 'OO']
    with open(name) as f:
        blood_data = f.read().split()
        for blood_group in blood_groups:
            count = blood_data.count(blood_group)
            print(f'Number of patients with blood type {blood_group}: {count}')

bldcount('BloodGroup.txt')

Number of patients with blood type A: 15
Number of patients with blood type B: 1
Number of patients with blood type AB: 13
Number of patients with blood type O: 15
Number of patients with blood type OO: 0

 # Question 8
Write a function curconv() that takes as input:
1. a currency represented using a string (e.g., 'JPY' for the Japanese Yen or 
'EUR' for the Euro)
2. an amount
and then converts and returns the amount in US dollars.
>>> curconv('EUR', 100)
122.96544
>>> curconv('JPY', 100)
1.24140

# Question 9

Each of the following will cause an exception (an error). Identify what type of exception each will cause.

Trying to add incompatible variables, as in 
adding 6 + ‘a’
Referring to the 12th item of a list that has only 10 
items
Using a value that is out of range for a function’s 
input, such as calling math.sqrt(-1.0)
Using an undeclared variable, such as print(x)
when x has not been defined 
Trying to open a file that does not exist, such as 
mistyping the file name or looking in the wrong 
directory.

1) it gives an output of error because the variable is not declared 
2) it also give file error because the output does not exist 
3) list index is out of range because there are only 10 indexes